*.iml
.gradle
local.properties
.idea
.DS_Store
build/
**/build/
captures
.externalNativeBuild
.cxx
*.apk
*.aar
.kotlin

# Python / Virtualenv
.venv/
venv/
__pycache__/
*.py[cod]
*.class
.pytest_cache/
